
{% extends 'main/base.html' %}

{% block title %}
Пароль и чёрный
{% endblock %}

{% block content %}

<h1>Сделай выбор и пароль </h1>
<p> Одобрено кампанией АРИФЛЕЙМ</p>

</div>
        <form action="#" method="post" enctype="multipart/form-data"> </form>

    <div>
             <input type="text" name="user" value="">

     </div>
       <div>
            <input type="password" name="userpass" value="">

       </div>
       <p> <input type="radio" name="человек" value="негр">чёрный <p>
       </p>  <input type="radio" name="человек" value="светлый">белый </p>
            <br>

    <div>
        <p> <input type="radio" name="человек2" value="негр">чёрный <p>
        </p>  <input type="radio" name="человек2" value="светлый">белый </p>
    </div>

{% endblock %}
